html, body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  font-family: $ave, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-grey;
  color: $dark-grey;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

a {
  transition: .3s;
  color: $dark-grey;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

button, .btn {
  background: transparent;
  outline: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 10px 13px;
  display: inline-block;

  // Font
  font-size: rem(14px);
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;

  // Effect
  cursor: pointer;
  &.btn-blue {
    color: $turquoise;
    border-color: $turquoise;
    transition: 0.3s;

    &:hover {
      background: $turquoise;
      color: $white;
    }
  }

  &.btn-grey {
    color: $dark-grey;
    border-color: $dark-grey;
    transition: 0.3s;

    &:hover {
      background: $dark-grey;
      color: $white;
    }
  }

  &.hidden {
    display: none;
  }
}
