/*--------------------------------------------------------------
Declaring the font-face
--------------------------------------------------------------*/

@font-face {
  font-family: 'Aileron-Light';
  src: url('../fonts/Aileron-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url('../fonts/Aileron-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Bold';
  src: url('../fonts/Aileron-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Black';
  src: url('../fonts/Aileron-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
