/*--------------------------------------------------------------
Declaring the font-face
--------------------------------------------------------------*/

@font-face {
  font-family: 'Aileron-Regular';
  src: url('../fonts/Aileron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('../fonts/Aileron-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Bold';
  src: url('../fonts/Aileron-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Black';
  src: url('../fonts/Aileron-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron-Heavy';
  src: url('../fonts/Aileron-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
